<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="A portfolio management dashboard.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="../assets/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="app-container">
        <div class="loader-container" id="loader-container">
            <div class="loader"></div>
        </div>
        <header class="app-header">
            <div class="app-header-left">
                <span class="app-icon"><img src="../assets/pucbet-logo.png" class="logoPucBet"></span>
            </div>
       

            <!-- Balance do user-->
            <div class="app-header-right"> 
                <button type="button" class="fas fa-eye" id="showHideBalance"></button>
                <div id="balance-container" class="showBalance">
                        Your Balance: <span id="cifra">$</span><span id="balance"></span>  
                </div>
            </div>
        </header>
        

        <div class="app-content">
            <nav class="app-sidebar">
                <a href="../view/home.html" class="app-sidebar-link">
                    <i class="fa fa-home"></i>
                    Home
                </a>
                <a href="../view/evaluateNewEvent.html" class="app-sidebar-link only-moderator" style="display: none;">
                    <i class="fa fa-chart-bar"></i>
                    Evaluate Event
                </a>
                <a href="../view/finishEvent.html" class="app-sidebar-link only-moderator active">
                    <i class="fa fa-chart-bar"></i>
                    Finish Event
                </a>
                <a href="../view/myEvents.html" class="app-sidebar-link">
                    <i class="fa fa-calendar-days"></i>
                    My Events
                </a>
                <a href="../view/myWallet.html" class="app-sidebar-link">
                    <i class="fa fa-wallet"></i>
                    My Wallet
                </a>
                <a href="#" class="app-sidebar-link">
                    <i class="fa fa-sign-out-alt"></i>
                    Logout
                </a>
            </nav>

            <main class="projects-section">
                <header class="projects-section-header">
                    <p class="section-title"><span id="titlePage">Finalize os Eventos</span></p>
                    <p class="time" id="currentDate"></p>
                </header>
                <div id="divTabela">
                    <div class="col">
                        <table id="tableEvents" class="table" >
                            <thead>
                                <tr>
                                    <th scope="col" class="text-end">#</th>
                                    <th scope="col" class="text-left">Title</th>
                                    <th scope="col" class="text-end">Description</th>
                                    <th scope="col" class="text-end">Category</th>
                                    <th scope="col" class="text-end">Status</th>
                                    <th scope="col" class="text-center">Finish Date</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dynamic rows inserted here -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="noEventsAvaliable" style="display: none;">
                    <img src="../assets/undraw_blank_canvas_re_2hwy.svg" alt="Canvas em branco">
                    <span class="emptyMessage">Não Há Eventos Ativos</span>
                </div>

                <!-- Paginador -->
                <div class="row justify-content-center" id="paginador">
                    <div class="col-auto">
                        <nav aria-label="Page navigation" id="paginador">
                            <ul id="ulPaginator" class="pagination pagination-sm">
                                <!-- Elementos do paginador -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Modal do finish -->
    <div class="modal" id="modalId">
        <form class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h1>Event Details</Data></h1>
                </div>
                
                <div class="event-form">
                    <input type="text" id="Sid_event" style="display: none;" disabled>

                    <label for="fTitle">Ttile</label>
                    <input type="text" id="STitle" disabled>
                    
                    <label for="fTitle">Description</label>
                    <input type="text" id="SDescription" disabled>
                    
                    <label for="fCategory">Category</label>
                    <input type="text" id="SCategory" disabled>
                    
                    <div class="date-container">
                   <div class="date-field">
                            <label for="fRegisterDate">Register Date</label>
                            <input type="date" id="SRegisterDate" disabled>
                        </div>
                        <div class="date-field">
                            <label for="fFinishDate">Finish Date</label>
                            <input type="date" id="SFinishDate" disabled>
                        </div>     
                    </div> 
                    <div class="date-container">
                   <div class="date-field">
                            <label for="fRegisterDate">Status</label>
                            <input type="text" id="SStatus" disabled>
                        </div>
                        <div class="date-field">
                            <label for="fFinishDate">Bets Funds</label>
                            <input type="text" id="SBetsFunds" style="text-align: right;" disabled>
                        </div>     
                    </div> 
                </div>
                <div class="user-bet moderator-evaluation" id="userBet">
                    <label for="fVerdict">This event happened?</label>
                    <div class="radio-group">
                        <label for="fVerdictYes">
                            <input type="radio" id="fVerdictYes" name="fVerdict" value="sim"> 
                            Yes
                        </label>
                        <label for="fVerdictNo">
                            <input type="radio" id="fVerdictNo" name="fVerdict" value="não"> 
                            No
                        </label>
                    </div>
                    
                </div>
                        
                <div class="modal-footer" id="modalSearch">
                    <button type="button" onclick="hideModal()" class="cancelBtn" id="cancelBtn">
                            Close
                    </button>
                    <button type="button" onclick="finishEvent()" class="evaluateBtn" id="betBtn">
                            Finish
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--finish event-->
    <script async defer>

        async function finishEvent(){
            loader.classList.add('active');
            const eventId = document.getElementById('Sid_event').value;
            const verdict = getVerdict();


            const reqHeaders = new Headers();
            reqHeaders.append("Content-Type", "application/json");
            reqHeaders.append("connection", "keep-alive");
            reqHeaders.append('eventId', eventId);
            reqHeaders.append('aconteceu', verdict);

            console.log(reqHeaders);

            try {
                const res = await fetch('http://127.0.0.1:3000/finishEvent', {
                    method: 'POST',
                    headers: reqHeaders,
                    credentials: 'include'
                });

                const msg = await res.text();
                if (res.ok) {
                    alert(msg);
                    cleanModal()
                    window.location.reload()
                } else {
                    alert(`Error: ${msg}`);
                }
            } catch (error) {
                console.error('Erro ao enviar solicitação:', error);
                alert('Failed to connect to the server.');
            }finally{
                loader.classList.remove('active');
            }
        }

        function getVerdict() {
            const radioYes = document.getElementById('fVerdictYes');
            const radioNo = document.getElementById('fVerdictNo');

            if (radioYes.checked) {
                return radioYes.value;
            }
            if (radioNo.checked) {
                return radioNo.value;
            }
            return null;
        }
    </script>

    <!-- Formatação das datas -->
    <script async defer>
        // Função para formatar a data
        function formatDate(dateString) {
            const date = new Date(dateString);
            const day = String(date.getDate()).padStart(2, '0'); // Adiciona zero à esquerda se necessário
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Meses começam do zero
            const year = date.getFullYear();

            return `${day}/${month}/${year}`;
        }

        // Função para formatar todas as datas na tabela
        function formatAllDates() {
            const dateCells = document.querySelectorAll('.event-finish-date');
            dateCells.forEach(cell => {
                const formattedDate = formatDate(cell.textContent.trim());
                cell.textContent = formattedDate;
            });
        }
    </script>
    <!-- Modal configs -->
    <script async defer>
        const loader = document.getElementById('loader-container');
        var modal = document.getElementById('modalId');

        function cleanModal() {
            // Campos de texto e número
            document.getElementById('Sid_event').value = '';
            document.getElementById('STitle').value = '';
            document.getElementById('SDescription').value = '';
            document.getElementById('SCategory').value = '';
            document.getElementById('SRegisterDate').value = '';
            document.getElementById('SFinishDate').value = '';
            document.getElementById('SStatus').value = '';
            document.getElementById('SBetsFunds').value = '';
        }

        async function getEventById(id_event, status){
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append('connection', 'keep-alive');
                reqHeaders.append('status', status);
                reqHeaders.append('id', id_event);

                const res = await fetch('http://127.0.0.1:3000/getEvent', {
                    method: 'GET',
                    headers: reqHeaders,
                    credentials: 'include'
                });
                if(res.ok){
                    const eventData = await res.json();
                    console.log(eventData);
                    return eventData;
                }else{
                    // Caso dê algum erro, recarrega página
                    alert('Não foi possível encontrar o evento');
                    window.location.reload();
                }
            }catch(error){
                console.error(error);
            }
        }

        async function fillModal(id_event, status) {
            var idEvent = document.getElementById('Sid_event');
            var title = document.getElementById('STitle');
            var description = document.getElementById('SDescription');
            var category = document.getElementById('SCategory');
            var registerDate = document.getElementById('SRegisterDate');
            var finishDate = document.getElementById('SFinishDate');
            var eventStatus =document.getElementById('SStatus');
            var betsFunds =document.getElementById('SBetsFunds');

            const betBtn = document.getElementById('betBtn');
            const userBet = document.getElementById('userBet');

            // Obtém os dados do evento
            const event = await getEventById(id_event, status);

            if (event && event.array.length > 0) {
                const eventData = event.array[0]; // Acessa o primeiro elemento do array

                // Preenche os campos do modal
                idEvent.value = eventData.ID_EVENT;
                title.value = eventData.TITLE;
                description.value = eventData.DESCRIPTION;
                category.value = eventData.CATEGORIES;
                registerDate.value = eventData.REGISTER_DATE.split("T")[0]; // Ajusta o formato da data
                finishDate.value = eventData.FINISH_DATE.split("T")[0];
                eventStatus.value = eventData.STATUS_EVENT;
                betsFunds.value = eventData.BETS_FUNDS;
                if(eventStatus.value != 'Aprovado'){
                     betBtn.style.display = 'none';
                     userBet.style.display = 'none';
                } 

            } else {
                alert("Evento não encontrado ou dados inválidos.");
            }
        }

        async function showModal(id_event, status){
            cleanModal();
            await fillModal(id_event, status);
            modal.style.display = 'block';
        }
        
        function hideModal(){
            modal.style.display = 'none';
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }   
    </script>

    <!-- Get events by page logic -->
    <script async defer>
        var ulPaginator = document.getElementById("ulPaginator");
        var tableEvents = document.getElementById('tableEvents');
        let numPages = 0; 
        const pageSize = 10; 
        var page = 1; 

        async function checkIsModerator(){
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("connection", "keep-alive");

                const res = await fetch('http://127.0.0.1:3000/isModerator', {
                    method: 'GET',
                    headers: reqHeaders,
                    credentials: 'include'
                })
                if(res.ok){
                    const elements = document.querySelectorAll('.only-moderator');
                    elements.forEach(element => {
                        element.style.display = 'block';
                    });
                }
            }catch(error){
                alert("Não foi possível carregar dados, tente novamente mais tarde!");
                window.location.href = "../view/login.html";
            }
        }

        async function requestNumberOfEvent() {
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("status", "Aprovado");

                const res = await fetch("http://127.0.0.1:3000/getEventQtty", {
                    method: "GET",
                    headers: reqHeaders,
                    credentials: 'include'
                });
                if(res.ok){
                    const qttyJson = await res.json();
                    const qtty = qttyJson[0].EVENTQTTY
                    if (qtty && qtty > 0) {
                        numPages = Math.ceil(qtty / pageSize);
                        refreshPaginator(); // Adicionei para chamar a função que cria o paginador
                    } else {
                        console.log("Número de páginas inválido.");
                    }
                }else{
                    alert('Ocorreu um erro, não foi possível estimar a quatidade de eventos');
                    window.location.href = '../view/login.html';
                }
            }catch(error){
                console.error(error);
            }
        }

        async function requestEvents(pageNumber) {
            try{
                page = pageNumber;

                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("page", pageNumber);
                reqHeaders.append("pageSize", pageSize);
                reqHeaders.append("status", "Aprovado");
                reqHeaders.append("toFinish", true);

                
                const resEvents = await fetch("http://127.0.0.1:3000/getEventsByPage", {
                    method: "POST",
                    headers: reqHeaders,
                    credentials: 'include'
                 });

                 if(resEvents.ok){
                    const eventsData = await resEvents.json();
                    console.log(eventsData);  // Verifique a estrutura dos dados
                    if(eventsData.length === 0){
                        const noEventsAvaliable = document.getElementById('noEventsAvaliable');
                        noEventsAvaliable.style.display = "flex"
                        const table = document.getElementById("divTabela");
                        table.style.display = "none";
                        const paginator = document.getElementById("paginador");
                        paginator.style.display = "none";
                    }else{

                        fillTable(eventsData);
                        refreshPaginator();
                    }
                 }
            }catch(error){

                console.error(error);
            }
            
        }
                 
        function resetUlPageNumbers(){
          while(ulPaginator.firstChild) 
            ulPaginator.removeChild(ulPaginator.firstChild);
        }

        function refreshPaginator() {
            resetUlPageNumbers();

            // Botão "Anterior"
            const prevLi = document.createElement("li");
            if(page === 1){
                prevLi.className = `page-item ${page === 1 ? "disabled" : ""}`;
            }else{
                prevLi.className = `page-item`;

            }
            const prevA = document.createElement("a");
            prevA.className = "page-link";
            prevA.style.textDecoration = 'none';
            prevA.href = "javascript:void(0);";
            prevA.textContent = "«";
            prevA.addEventListener("click", () => {
                if (page > 1) requestEvents(page - 1);
            });
            prevLi.appendChild(prevA);
            ulPaginator.appendChild(prevLi);

            // Números das páginas
            for (let i = 1; i <= numPages; i++) {
                const li = document.createElement("li");
                li.className = `page-item ${i === page ? "active" : ""}`;
                const a = document.createElement("a");
                a.className = "page-link";
                a.style.textDecoration = 'none';
                a.href = "javascript:void(0);";
                a.textContent = i;
                a.addEventListener("click", () => {
                    if (i !== page) requestEvents(i);
                });
                li.appendChild(a);
                ulPaginator.appendChild(li);
            }

            // Botão "Próximo"
            const nextLi = document.createElement("li");
            nextLi.className = `page-item ${page === numPages ? "disabled" : ""}`;
            const nextA = document.createElement("a");
            nextA.className = "page-link";
            nextA.style.textDecoration = 'none';
            nextA.href = "javascript:void(0);";
            nextA.textContent = "»";
            nextA.addEventListener("click", () => {
                if (page < numPages) requestEvents(page + 1);
            });
            nextLi.appendChild(nextA);
            ulPaginator.appendChild(nextLi);
        }
        
        async function fetchActiveEvent(){
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("connection", "keep-alive");
                reqHeaders.append("status", "aprovado");

                const res = await fetch('http://127.0.0.1:3000/getEvent', {
                    method: 'GET',
                    headers: reqHeaders,
                    credentials: 'include'
                });
                if(res.ok){
                    const eventsData = await res.json();
                    fillTable(eventsData);
                }else{
                    alert('ocorreu um erro, verficar e tratar ...');
                }
            }catch(error){
                console.error(error);
            }
        }

        function fillTable(events){
            cleanTableRows();

            events.forEach(element => {
                addEventRow(element);
            });

            formatAllDates()
        }

        // Função para limpar as linhas da tabela
        function cleanTableRows() {
            tableEvents.getElementsByTagName('tbody')[0].innerHTML = '';
        }

        // Função para adicionar uma linha na tabela
        function addEventRow(event) {
            const eventRow = 
                `<tr id="${event.ID_EVENT}">
                    <td class="event-id">${event.ID_EVENT}</td>
                    <td class="event-title">${event.TITLE}</td>
                    <td class="event-description">${event.DESCRIPTION}</td>
                    <td class="event-categorie">${event.CATEGORIES}</td>
                    <td class="event-status">${event.STATUS_EVENT}</td>
                    <td class="event-finish-date">${event.FINISH_DATE}</td>
                    <td class="bet-on-event">
                        <button onclick="showModal(${event.ID_EVENT}, '${event.STATUS_EVENT}')"> Show Event </button>
                    </td>
                </tr>`;
            tableEvents.getElementsByTagName('tbody')[0].insertAdjacentHTML('beforeend', eventRow);
        }

        function setDate(){
            const currentDate = new Date();
    
            // Formata a data no formato "Month, Day" (ex: "December, 12")
            const month = currentDate.toLocaleString('default', { month: 'long' }); // Mês por extenso
            const day = currentDate.getDate(); // Dia do mês
    
            // Preenche o conteúdo do elemento com a classe "time"
            // Cria um objeto Date para a data atual
            document.getElementById('currentDate').textContent = `${month}, ${day}`;
        }

        async function setBalance() {
            const res = await fetch('http://127.0.0.1:3000/getBalance', {
                method: 'GET',
                credentials: 'include' // Necessário para enviar o cookie com a requisição
            });

            if (res.ok) {
                let data = await res.json();
                let balance = data.balance;
                // Se necessário, formate o saldo com 2 casas decimais
                balance = parseFloat(balance).toFixed(2);
                
                // Exibe o saldo na página
                document.getElementById('balance').textContent = `${balance}`;
            } else {
                alert('Não foi possível acessar os dados da sua carteira');
               
            }
        }
        
        // Adiciona destaque na linha clicada
        tableEvents.addEventListener('click', (event) => {
            const row = event.target.closest('tr'); // Identifica a linha clicada
            if (row) {
                tableEvents.querySelectorAll('tr').forEach(tr => tr.classList.remove('active-row'));
                row.classList.add('active-row');
            }
        });


        document.addEventListener('readystatechange', async event => {
            if(event.target.readyState === 'complete'){
                await checkIsModerator();
                await setBalance();
                setDate();

                requestNumberOfEvent();
                requestEvents(page);
            }
        });
      




        document.getElementById("showHideBalance").addEventListener("click", async event => {
            const iconElement = document.getElementById("showHideBalance");
        
            // Verifica o estado atual do ícone
            if (iconElement.classList.contains("fa-eye")) {
                // Altera para "olho fechado"
                iconElement.className = "fas fa-eye-slash";
                document.getElementById('balance').textContent = `-----`;
            } else {
                // Altera para "olho aberto"
                iconElement.className = "fas fa-eye";
                await setBalance();
            }
        });
    </script>
</body>
</html>