<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="A portfolio management dashboard.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="app-container">
        <header class="app-header">
            <div class="app-header-left">
                <span class="app-icon"><img src="../assets/pucbet-logo.png" class="logoPucBet"></span>
                <div class="search-wrapper">
                    <input class="search-input" type="text" placeholder="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="M21 21l-4.35-4.35"></path>
                    </svg>
                </div>
            </div>
            <div class="app-header-right"> 
                <div id="balance-container" class="mt-3 d-none">
                    <h3>Your Balance: $<span id="balance"></span></h3>
                </div>
            </div>
        </header>

        <div class="app-content">
            <nav class="app-sidebar">
                <a href="#" class="app-sidebar-link active">
                    <i class="fa fa-home"></i>
                    Home
                </a>
                <a href="#" class="app-sidebar-link" id="only-moderator" style="display: none;">
                    <i class="fa fa-chart-bar"></i>
                    Evaluate Event
                </a>
                <a href="#" class="app-sidebar-link">
                    <i class="fa fa-cogs"></i>
                    Settings
                </a>
                <a href="#" class="app-sidebar-link">
                    <i class="fa fa-sign-out-alt"></i>
                    Logout
                </a>
            </nav>

            <main class="projects-section">
                <header class="projects-section-header">
                    <p class="section-title">Eventos Ativos</p>
                    <p class="time" id="currentDate"></p>
                </header>
                <div class="row align-items-center" >
                    <div class="col">
                      <table id="tableProducts" class="table">
                          <thead>
                            <tr>
                              <th scope="col" class="text-end">#</th>
                              <th scope="col" class="text-left">Title</th>
                              <th scope="col" class="text-end">Description</th>
                              <th scope="col" class="text-end">Categorie</th>
                              <th scope="col" class="text-center">Finish Date</th>
                              <th scope="col" class="text-center"></th>
                            </tr>
                          </thead>
                          <tbody>
                          <!-- produtos serão adicionados dinamicamente aqui. 
                            consultar a função addProductRow
                          -->
                          </tbody>
                        </table>
                    </div>
                </div>
                <!-- Paginador -->
                <div class="row">
                    <div class="col">
                        <nav aria-label="..." style="float:right;">
                            <ul id="ulPaginator" class="pagination pagination-sm">
                            <!-- Elementos do paginador aparecerão aqui -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script async defer>
        var ulPaginator = document.getElementById("ulPaginator");
        var tableProducts = document.getElementById('tableProducts');
        let numPages = 0; 
        const pageSize = 10; 
        var page = 1; 

        async function checkIsModerator(){
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("connection", "keep-alive");

                const res = await fetch('http://127.0.0.1:3000/isModerator', {
                    method: 'GET',
                    headers: reqHeaders,
                    credentials: 'include'
                })
                if(res.ok){
                    const elements = document.getElementById('only-moderator');
                    elements.style.display = 'block';
                }
            }catch(error){
                alert("Não foi possível carregar dados");
                window.location.href = "../view/login.html";
            }
        }

        async function fetchActiveEvent(){
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("connection", "keep-alive");
                reqHeaders.append("status", "aprovado");

                const res = await fetch('http://127.0.0.1:3000/getEvent', {
                    method: 'GET',
                    headers: reqHeaders,
                    credentials: 'include'
                });
                if(res.ok){
                    const eventsData = await res.json();
                    fillTable(eventsData);
                }else{
                    alert('ocorreu um erro, verficar e tratar ...');
                }
            }catch(error){
                console.error(error);
            }
        }

        function fillTable(events){
            cleanTableRows();

            events.array.forEach(element => {
                addEventRow(element);
            });
        }

        function cleanTableRows(){
            tableProducts.getElementsByTagName('tbody')[0].innerHTML = '';
        }

        function addEventRow(event){
            const eventRow = 
                `<tr id="${event.ID_EVENT}">
                    <td class="event-id">${event.ID_EVENT}</td>
                    <td class="event-title">${event.TITLE}</td>
                    <td class="event-description">${event.DESCRIPTION}</td>
                    <td class="event-categorie">${event.CATEGORIES}</td>
                    <td class="event-finish-date">${event.FINISH_DATE}</td>
                    <td class="bet-on-event">
                        <button>BET</button>
                    </td>
                </tr>`;
            tableProducts.getElementsByTagName('tbody')[0].insertAdjacentHTML('beforeend', eventRow);
        }

        function setDate(){
            const currentDate = new Date();
    
            // Formata a data no formato "Month, Day" (ex: "December, 12")
            const month = currentDate.toLocaleString('default', { month: 'long' }); // Mês por extenso
            const day = currentDate.getDate(); // Dia do mês
    
            // Preenche o conteúdo do elemento com a classe "time"
            // Cria um objeto Date para a data atual
            document.getElementById('currentDate').textContent = `${month}, ${day}`;
        }

        async function setBalance() {
            const res = await fetch('http://127.0.0.1:3000/getBalance', {
                method: 'GET',
                credentials: 'include' // Necessário para enviar o cookie com a requisição
            });

            if (res.ok) {
                let data = await res.json();
                let balance = data.balance;  // Assumindo que a resposta do backend seja um objeto com o campo "balance"
                
                // Se necessário, formate o saldo com 2 casas decimais
                balance = parseFloat(balance).toFixed(2);

                // Exibe o saldo na página
                document.getElementById('balance').textContent = `${balance}`;
            } else {
                alert('Não foi possível acessar os dados');
            }
        }


        (async function() {
            await fetchActiveEvent();
            await checkIsModerator();
            setBalance();
            setDate();
        })();
    </script>
</body>
</html>