<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="A portfolio management dashboard.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="../assets/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="app-container">
        <header class="app-header">
            <div class="app-header-left">
                <span class="app-icon"><img src="../assets/pucbet-logo.png" class="logoPucBet"></span>
            </div>
            <!-- Barra de Pesquisa Centralizada -->
            <div class="app-header-center">
                <input type="text" class="search-input" id="searchBar" placeholder="Pesquisar eventos..." oninput="searchEvents()">
                <button class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            <div style="display: flex; justify-content: flex-end; padding: 20px;">
                <!-- Botão "Create Event" alinhado à direita -->
                <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#addNewEventModal">
                    <i class="fas fa-plus" style="margin-right: 8px;"></i>Create Event
                </button>
            </div>
            <div class="app-header-right"> 
                <div id="balance-container" class="mt-3 d-none">
                    <h3>Your Balance: $<span id="balance"></span></h3>
                </div>
            </div>
        </header>
        

        <div class="app-content">
            <nav class="app-sidebar">
                <a href="#" class="app-sidebar-link active">
                    <i class="fa fa-home"></i>
                    Home
                </a>
                <a href="../view/evaluateNewEvent.html" class="app-sidebar-link only-moderator" style="display: none;">
                    <i class="fa fa-chart-bar"></i>
                    Evaluate Event
                </a>
                <a href="#" class="app-sidebar-link">
                    <i class="fa fa-chart-bar"></i>
                    Finish Event
                </a>
                <a href="#" class="app-sidebar-link">
                    <i class="fa fa-cogs"></i>
                    My Events
                </a>
                <a href="#" class="app-sidebar-link">
                    <i class="fa fa-cogs"></i>
                    My Wallet
                </a>
                <a href="#" class="app-sidebar-link">
                    <i class="fa fa-sign-out-alt"></i>
                    Logout
                </a>
            </nav>

            <main class="projects-section">
                <header class="projects-section-header">
                    <p class="section-title">Eventos Ativos</p>
                    <p class="time" id="currentDate"></p>
                </header>
                <div class="row align-items-center">
                    <div class="col">
                        <table id="tableEvents" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-end">#</th>
                                    <th scope="col" class="text-left">Title</th>
                                    <th scope="col" class="text-end">Description</th>
                                    <th scope="col" class="text-end">Category</th>
                                    <th scope="col" class="text-center">Finish Date</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dynamic rows inserted here -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Paginador -->
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <nav aria-label="Page navigation">
                            <ul id="ulPaginator" class="pagination pagination-sm">
                                <!-- Elementos do paginador -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Modal de criação de evento -->
    <div class="modal" id="addNewEventModal">
        <form class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h1>Create new event</h1>
                    <span class="close" onclick="closeModal()">&times;</span> <!-- Fechar modal -->
                </div>
                <div class="event-form">
                    <label for="fTitle">Title</label>
                    <input type="text" id="fTitle">
                    
                    <label for="fDescription">Description</label>
                    <input type="text" id="fDescription">
                    
                    <label for="fCategory">Category</label>
                    <input type="text" id="fCategory">
                    
                    <div class="date-container">
                        <div class="date-field">
                            <label for="fRegisterDate">Finish Date</label>
                            <input type="date" id="fFinishDate">
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closeModal()" class="cancelBtn btn btn-secondary">
                        Cancel
                    </button>
                    <button type="button" onclick="createNewEvent()" class="evaluateBtn btn btn-primary"> <!--erro ao chamar createNewEvent -->
                        Create Event
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script async defer>
        var ulPaginator = document.getElementById("ulPaginator");
        var tableEvents = document.getElementById('tableEvents');
        let numPages = 0; 
        const pageSize = 10; 
        var page = 1; 

        async function checkIsModerator(){
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("connection", "keep-alive");

                const res = await fetch('http://127.0.0.1:3000/isModerator', {
                    method: 'GET',
                    headers: reqHeaders,
                    credentials: 'include'
                })
                if(res.ok){
                    const elements = document.querySelectorAll('.only-moderator');
                    elements.forEach(element => {
                        element.style.display = 'block';
                    });
                }
            }catch(error){
                alert("Não foi possível carregar dados, tente novamente mais tarde!");
                window.location.href = "../view/login.html";
            }
        }

        async function requestNumberOfEvent() {
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("status", "Aprovado");

                const res = await fetch("http://127.0.0.1:3000/getEventQtty", {
                    method: "GET",
                    headers: reqHeaders,
                    credentials: 'include'
                });
                if(res.ok){
                    const qttyJson = await res.json();
                    const qtty = qttyJson[0].EVENTQTTY
                    if (qtty && qtty > 0) {
                        numPages = Math.ceil(qtty / pageSize);
                        refreshPaginator(); // Adicionei para chamar a função que cria o paginador
                    } else {
                        console.log("Número de páginas inválido.");
                    }
                }else{
                    alert('Ocorreu um erro, não foi possível estimar a quatidade de eventos');
                    window.location.href = '../view/login.html';
                }
            }catch(error){
                console.error(error);
            }
        }

        async function requestEvents(pageNumber) {
            try{
                page = pageNumber;

                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("page", pageNumber);
                reqHeaders.append("pageSize", pageSize);
                reqHeaders.append("status", "Aprovado");

                
                const resEvents = await fetch("http://127.0.0.1:3000/getEventsByPage", {
                    method: "POST",
                    headers: reqHeaders,
                    credentials: 'include'
                 });

                 if(resEvents.ok){
                    const eventsData = await resEvents.json();
                    console.log(eventsData);  // Verifique a estrutura dos dados
                    fillTable(eventsData);
                 }
                 refreshPaginator();
            }catch(error){

                console.error(error);
            }
            
        }
                 
        function resetUlPageNumbers(){
          while(ulPaginator.firstChild) 
            ulPaginator.removeChild(ulPaginator.firstChild);
        }

        function refreshPaginator() {
            resetUlPageNumbers();

            // Botão "Anterior"
            const prevLi = document.createElement("li");
            if(page === 1){
                prevLi.className = `page-item ${page === 1 ? "disabled" : ""}`;
            }else{
                prevLi.className = `page-item`;

            }
            const prevA = document.createElement("a");
            prevA.className = "page-link";
            prevA.style.textDecoration = 'none';
            prevA.href = "javascript:void(0);";
            prevA.textContent = "«";
            prevA.addEventListener("click", () => {
                if (page > 1) requestEvents(page - 1);
            });
            prevLi.appendChild(prevA);
            ulPaginator.appendChild(prevLi);

            // Números das páginas
            for (let i = 1; i <= numPages; i++) {
                const li = document.createElement("li");
                li.className = `page-item ${i === page ? "active" : ""}`;
                const a = document.createElement("a");
                a.className = "page-link";
                a.style.textDecoration = 'none';
                a.href = "javascript:void(0);";
                a.textContent = i;
                a.addEventListener("click", () => {
                    if (i !== page) requestEvents(i);
                });
                li.appendChild(a);
                ulPaginator.appendChild(li);
            }

            // Botão "Próximo"
            const nextLi = document.createElement("li");
            nextLi.className = `page-item ${page === numPages ? "disabled" : ""}`;
            const nextA = document.createElement("a");
            nextA.className = "page-link";
            nextA.style.textDecoration = 'none';
            nextA.href = "javascript:void(0);";
            nextA.textContent = "»";
            nextA.addEventListener("click", () => {
                if (page < numPages) requestEvents(page + 1);
            });
            nextLi.appendChild(nextA);
            ulPaginator.appendChild(nextLi);
        }
        
        async function fetchActiveEvent(){
            try{
                const reqHeaders = new Headers();
                reqHeaders.append("Content-Type", "application/json");
                reqHeaders.append("connection", "keep-alive");
                reqHeaders.append("status", "aprovado");

                const res = await fetch('http://127.0.0.1:3000/getEvent', {
                    method: 'GET',
                    headers: reqHeaders,
                    credentials: 'include'
                });
                if(res.ok){
                    const eventsData = await res.json();
                    fillTable(eventsData);
                }else{
                    alert('ocorreu um erro, verficar e tratar ...');
                }
            }catch(error){
                console.error(error);
            }
        }

        function fillTable(events){
            cleanTableRows();

            events.forEach(element => {
                addEventRow(element);
            });
        }

        // Função para limpar as linhas da tabela
        function cleanTableRows() {
            tableEvents.getElementsByTagName('tbody')[0].innerHTML = '';
        }

        // Função para adicionar uma linha na tabela
        function addEventRow(event) {
            const eventRow = 
                `<tr id="${event.ID_EVENT}">
                    <td class="event-id">${event.ID_EVENT}</td>
                    <td class="event-title">${event.TITLE}</td>
                    <td class="event-description">${event.DESCRIPTION}</td>
                    <td class="event-categorie">${event.CATEGORIES}</td>
                    <td class="event-finish-date">${event.FINISH_DATE}</td>
                    <td class="bet-on-event">
                        <button>BET</button>
                    </td>
                </tr>`;
            tableEvents.getElementsByTagName('tbody')[0].insertAdjacentHTML('beforeend', eventRow);
        }

        function setDate(){
            const currentDate = new Date();
    
            // Formata a data no formato "Month, Day" (ex: "December, 12")
            const month = currentDate.toLocaleString('default', { month: 'long' }); // Mês por extenso
            const day = currentDate.getDate(); // Dia do mês
    
            // Preenche o conteúdo do elemento com a classe "time"
            // Cria um objeto Date para a data atual
            document.getElementById('currentDate').textContent = `${month}, ${day}`;
        }

        async function setBalance() {
            const res = await fetch('http://127.0.0.1:3000/getBalance', {
                method: 'GET',
                credentials: 'include' // Necessário para enviar o cookie com a requisição
            });

            if (res.ok) {
                let data = await res.json();
                let balance = data.balance;
                // Se necessário, formate o saldo com 2 casas decimais
                balance = parseFloat(balance).toFixed(2);
                
                // Exibe o saldo na página
                document.getElementById('balance').textContent = `${balance}`;
            } else {
                alert('Não foi possível acessar os dados da sua carteira');
               
            }
        }
        
        // Adiciona destaque na linha clicada
        tableEvents.addEventListener('click', (event) => {
            const row = event.target.closest('tr'); // Identifica a linha clicada
            if (row) {
                tableEvents.querySelectorAll('tr').forEach(tr => tr.classList.remove('active-row'));
                row.classList.add('active-row');
            }
        });


        document.addEventListener('readystatechange', async event => {
            if(event.target.readyState === 'complete'){
                await checkIsModerator();
                await setBalance();
                setDate();

                requestNumberOfEvent();
                requestEvents(page);
            }
        });
      
        // Código botão CREATE EVENT (add new event)
        // Função para abrir o modal
       // Função para abrir o modal
        function openModal() {
            document.getElementById('addNewEventModal').style.display = 'block';
        }

        // Função para fechar o modal
        function closeModal() {
            document.getElementById('addNewEventModal').style.display = 'none';
        }

        // Função para processar as informações do evento e criar o evento
        async function createNewEvent() {
            const title = document.getElementById('fTitle').value;
            const description = document.getElementById('fDescription').value;
            const category = document.getElementById('fCategory').value;
            const finishDate = document.getElementById('fFinishDate').value;
        
            // Verificar se todos os campos obrigatórios foram preenchidos
            if (!title || !description || !category || !finishDate) {
                alert("Por favor, preencha todos os campos.");
                return;
            }
        
            const eventData = {
                title: title,
                description: description,
                category: category,
                finishDate: finishDate,
            };
        
            try {
                // Enviar os dados para o backend
                const response = await fetch('http://127.0.0.1:3000/addNewEvent', {
                    method: 'POST',
                    headers: {
                        'Title': title,
                        'Description': description,
                        'Categories': category,
                        'FinishDate': finishDate,
                },
                body: JSON.stringify(eventData), // Enviar os dados como JSON ao ínves de cabeçalhos   VERIFICAR !!!
                credentials: 'include' // Necessário para enviar o cookie com a requisição
            });
            
                if (response.ok) {
                    alert("Evento criado com sucesso!");
                    closeModal();
                
                    // Atualizar a lista de eventos após a criação
                    fetchActiveEvent();
                } else {
                    const errorData = await response.json();
                    alert(`Erro ao criar evento: ${errorData.message || "Tente novamente mais tarde."}`);
                }
            } catch (error) {
                alert("Erro de comunicação com o servidor. Tente novamente.");
                console.error(error);
            }
        }

        // Mostra o modal ao clicar no botão
        window.onload = function() {
            document.querySelector('button[data-bs-toggle="modal"]').addEventListener('click', openModal);
        }

    </script>
</body>
</html>