<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="container" id="login-container">
        <form class="text-center" onsubmit="event.preventDefault(); signIn();">
            <img src="../assets/pucbet-logo.png" alt="logoPucBet" class="logoPucBet">
            
            <!-- Alert for errors -->
            <div id="alert-box" class="alert d-none" role="alert"></div>

            <div class="form-group mb-3 position-relative">
                <label for="fEmail" class="form-label">Email</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <input type="email" id="fEmail" class="form-control" placeholder="Enter your Email" required>
                </div>
            </div>
            
            <div class="form-group mb-3 position-relative">
                <label for="fPassword" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                    <input type="password" id="fPassword" class="form-control" placeholder="Enter your Password" required>
                </div>
            </div>
            
            <button type="submit" class="btn btn-block w-100" id="button-submit" onclick="signIn()">Sign In</button>

            <p id="p" class="mt-4">Don't have an account? 
                <a href="../view/signup.html" class="text-decoration-none" id="span">Sign Up</a>
            </p>
        </form>
    </div>
    <script src="../js/login.js" async defer></script>
</body>
</html>
