<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  </head>
  <body>
    <div class="container" id="login-container">
      <form class="text-center" onsubmit="event.preventDefault(); newUserRequest();">
        <img src="../assets/logoPucBet.png" alt="logoPucBet" class="logoPucBet">
        <!-- Alert for errors -->
        <div id="alert-box" class="alert alert-danger d-none" role="alert">
            <strong>Error!</strong> <span id="alert-message"></span>
        </div>

        <!-- Input para Name -->
        <div class="form-group mb-3 position-relative">
            <label for="fName" class="form-label">Name</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-user"></i>
                </span>
                <input type="text" id="fName" class="form-control" placeholder="Enter your Name" required>
            </div>
        </div>

        <!-- Input para Email -->
        <div class="form-group mb-3 position-relative">
            <label for="fEmail" class="form-label">Email</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-envelope"></i>
                </span>
                <input type="email" id="fEmail" class="form-control" placeholder="Enter your Email" required>
            </div>
        </div>

        <!-- Input para Password -->
        <div class="form-group mb-3 position-relative">
            <label for="fPassword" class="form-label">Password</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                </span>
                <input type="password" id="fPassword" class="form-control" placeholder="Enter your Password" required>
            </div>
        </div>

        <!-- Input para Birthdate -->
        <div class="form-group mb-3 position-relative">
            <label for="fBirthdate" class="form-label">Birthdate</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-calendar-days"></i>
                </span>
                <input type="date" id="fBirthdate" class="form-control" required>
            </div>
        </div>

        <button type="submit" class="btn btn-block w-100" id="button-submit" onclick="newUserRequest()">Sign Up</button>

        <p id="p" class="mt-4">Already have an account? 
            <a href="../view/login.html" class="text-decoration-none" id="span">Log In</a>
        </p>
      </form>
    </div>
    <div id="alert-box" class="alert d-none" role="alert"></div>
    <script src="../js/signup.js" async defer></script>
  </body>
</html>
