<!DOCTYPE html>

<html>
  <head>
    <title>PUC BET</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="wrapper">
        <!--CABEÇALHO-->
        <div class="title">
          <span>PUC BET</span>
        </div>
    <!-- colocar os dados: Name/email/password/birthdate -->
    <!-- Inicio do formulário de cadastro - FORM 1 -->
    <form>
        <div class="row">
            <i class="das da-user"></i>
            <input type="text" id="fEmail" onfocus="hideMessage()" placeholder="Email" required>

        </div>

    <i class="fas fa-calendar-days">


    <!--Fazer tratamento de dados e voltar botões: usuário cadastrado / Conta já existente-->
    </form> <!-- Fim do formulário - FORM 1 -->
</body>
</html>