:root {
    --background-dark: #151515;
    --background-light: #252525;
    --accent-color: #44d888;
    --highlight: #66e0a3;
    --input-background: #2e2e2e;
    --input-border: #3d3d3d;
    --button-hover: #3a3a3a;
    --text-color: #ffffff;
    --label-color: #b0b0b0;
    --focus-color: #44d888;
    --icon-color: #44d888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(21,21,21);
    background: linear-gradient(216deg, rgba(21,21,21,1) 0%, rgba(37,37,37,1) 44%, 
            rgba(40,54,46,1) 68%, rgba(46,87,65,1) 81%, rgba(54,132,90,1) 88%, 
            rgba(58,155,103,1) 92%, rgba(61,170,111,1) 97%, rgba(68,216,136,1) 100%) no-repeat;
    color: var(--text-color);
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px;
    padding-top: 15px;
    background-color: var(--background-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.app-header-left {
    display: flex;
    align-items: center;
}

.app-header-left .app-icon {
    font-size: 24px;
    font-weight: bold;
    margin-right: 12px;
    color: var(--icon-color);
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    margin-right: 10px;
    width: 220px;
    color: var(--text-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: var(--focus-color);
    box-shadow: 0 0 5px rgba(68, 216, 136, 0.5);
    outline: none;
}

.app-header-right {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--highlight);
}

.app-content {
    display: flex;
    height: 100%;
    margin-top: 64px; /* Considera a altura fixa da header */
}

.app-sidebar {
    width: 225px;
    background-color: var(--background-light);
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    position: fixed;
    top: 64px; /* Alinha com o final da navbar */
    bottom: 0;
    left: 0;
    z-index: 900;
}

.app-sidebar-link {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    border-bottom: 1px solid var(--input-border);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.app-sidebar-link i {
    margin-right: 12px;
    font-size: 18px;
}

.app-sidebar-link.active {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.app-sidebar-link:hover {
    background-color: var(--button-hover);
    color: var(--highlight);
}

.projects-section {
    margin-left: 250px; /* Considera a largura fixa da sidebar */
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    flex-grow: 1;
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    transition: margin-left 0.3s ease;
    max-width: 85%;
    max-height: 90%;
}

.projects-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--input-border);
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--text-color);
}

.time {
    font-size: 14px;
    color: var(--label-color);
}

/* Responsividade */
@media (max-width: 768px) {
    .app-sidebar {
        width: 200px;
    }

    .projects-section {
        margin-left: 0;
    }

    .app-header-left .app-icon {
        font-size: 20px;
    }

    .search-input {
        width: 180px;
    }
}

@media (max-width: 480px) {
    .app-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .app-header-left {
        margin-bottom: 10px;
    }

    .app-sidebar {
        width: 100%;
        position: static;
    }

    .projects-section {
        margin-left: 0;
    }
}

.logoPucBet {
    width: 200px;  
    margin-left: 10px; 
    padding-right: 25px;
}


/* Estilo para a tabela */
.table {
    background-color: var(--background-light);
    border: 1px solid var(--input-border);
    border-radius: 8px;
    overflow: hidden;
    color: var(--text-color);
    margin-top: 20px;
    width: 100%;
}

.table th, 
.table td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--input-border);
    text-align: left;
}

.table th {
    background-color: var(--background-dark); /* Alterando para corresponder ao fundo da header */
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

.table td {
    background-color: var(--background-light); /* Usando cor mais clara para as células */
    color: var(--text-color);
    text-align: center;
}

.table tbody tr:hover {
    background-color: var(--highlight); /* Usando a cor de destaque para hover */
}

.table tbody tr:last-child td {
    border-bottom: none;
}

/* Ações na tabela */
.table td .btn {
    background-color: var(--background-dark);
    color: var(--text-color);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.table td .btn:hover {
    background-color: var(--button-hover); /* Cor de hover dos botões */
    color: var(--highlight); /* Cor de texto de hover */
}

/* Responsividade */
@media (max-width: 768px) {
    .table th,
    .table td {
        font-size: 14px;
        padding: 8px 10px;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .table th,
    .table td {
        font-size: 14px;
        padding: 8px 10px;
    }
}
/* Estilo para o paginador */
.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 20px 0;
}

.pagination-sm .page-item {
    margin: 0 5px;
}

.pagination-sm .page-link {
    background-color: var(--background-light);
    border: 1px solid var(--input-border);
    color: var(--text-color);
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-sm .page-link:hover {
    background-color: var(--button-hover);
    color: var(--highlight);
}

.pagination-sm .page-item.active .page-link {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-color: var(--accent-color);
}

.pagination-sm .page-item.disabled .page-link {
    background-color: var(--background-dark);
    color: var(--label-color);
    border-color: var(--input-border);
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Responsividade */
@media (max-width: 768px) {
    .pagination-sm .page-link {
        padding: 5px 8px;
        font-size: 12px;
    }
}
